{% extends 'todo/layout.html' %}

{% block content %}
    <h1>Lista de mis actividades</h1>

    <ul>
        {% for tarea in tareas %}
            <li>{{ tarea }}</li>
            <button><a href="{% url 'eliminar' tarea.id %}">Eliminar</a></button>
            <button><a href="{% url 'editar' tarea.id %}">Editar</a></button>
        {% endfor %}

        <table class="table">
            {% for tarea in tareas %}
            <tbody>
                <tr>
                    <td>{{ tarea }}</td>
                    <td><button><a href="{% url 'eliminar' tarea.id %}">Eliminar</a></button></td>
                    <td><button><a href="{% url 'editar' tarea.id %}">Editar</a></button></td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
        


    </ul>
{% endblock %}


